<div>

  <header class="main-header">
    <div>
      <a href="index.html">uHost</a>
    </div>

    <nav class="nav-menu">
      <ul class="nav-menu-items">
        <li class="nav-menu-item"><a href="packages/index.html">Packages</a></li>
        <li class="nav-menu-item"><a href="customers/index.html">Customers</a></li>
        <li class="nav-menu-item"><a href="contact.html">Contact</a></li>
        <li class="nav-menu-item"><a href="resources.html">Resources</a></li>
        <li class="nav-menu-item nav-menu-item--cta"><a href="https://www.google.com">Google</a></li>
      </ul>
    </nav>
  </header>

  <div id="div-title">
    <h1 class="title-text">Learn CSS</h1>
  </div>

  <!-- <div id="div-content">
    <h3 class="content-text">Content of CSS learning</h3>
  </div>

  <div disabled>
    <h3 class="content-text">Disabled content</h3>
  </div> -->

  <main *ngIf="!loadFlexBox">
    <!-- <section>
      <p>This is a paragraph</p>
    </section> -->

    <section id="plans">
      <h1 class="section-title">Choose your plan</h1>
      <div>
        <article class="plan">
            <h1 class="plan__title">FREE</h1>
            <h2 class="plan__price">$0/month</h2>
            <h3 class="plan__desc">For hobby projects or small teams.</h3>
            <ul class="plan__features">
                <li>1 Workspace</li>
                <li>Unlimited Traffic</li>
                <li>10GB Storage</li>
                <li>Basic Support</li>
            </ul>
            <div>
                <button class="plan__button">CHOOSE PLAN</button>
            </div>
        </article>
        <article class="plan plan--highlighted">
            <h1 class="plan__annotation">RECOMMENDED </h1>
            <h1 class="plan__title">PLUS</h1>
            <h2 class="plan__price">$29/month</h2>
            <h3 class="plan__desc">For ambitious projects.</h3>
            <ul class="plan__features">
                <li>5 Workspaces</li>
                <li>Unlimited Traffic</li>
                <li>100GB Storage</li>
                <li>Plus Support</li>
            </ul>
            <div>
                <button class="plan__button" (click)="LoadFlexboxComponent()">CHOOSE PLAN</button>
            </div>
        </article>
        <article class="plan">
            <h1 class="plan__title">PREMIUM</h1>
            <h2 class="plan__price">$99/month</h2>
            <h3 class="plan__desc">Your enterprise solution.</h3>
            <ul class="plan__features">
                <li>10 Workspaces</li>
                <li>Unlimited Traffic</li>
                <li>Unlimited Storage</li>
                <li>Priority Support</li>
            </ul>
            <div>
                <button class="plan__button">CHOOSE PLAN</button>
            </div>
        </article>
    </div>
    </section>



    <section class="reason-section">
      <h1 class="section-title">Many Good Reasons to Stick Around</h1>
      <ul class="key-feature__list">
          <li>
              <div class="key-feature__image">

              </div>
              <p class="key-feature__desc">3,857,000 Trusting Customers</p>
          </li>
          <li>
              <div class="key-feature__image">

              </div>
              <p class="key-feature__desc">99.999% Uptime Guarantee</p>
          </li>
          <li>
              <div class="key-feature__image">

              </div>
              <p class="key-feature__desc">Lightning Fast CDN</p>
          </li>
      </ul>
  </section>
  </main>

  <footer class="main-footer">
    <nav>
        <ul class="main-footer__list">
            <li>
                <a href="#">Support</a>
            </li>
            <li>
                <a href="#">Terms of Use</a>
            </li>
        </ul>
    </nav>
</footer>

<div>
  <app-learn-flexbox *ngIf="loadFlexBox"></app-learn-flexbox>
 </div>

</div>
