<div>

  <header class="main-header">
    <div>
      <a href="index.html">uHost</a>
    </div>

    <nav class="nav-menu">
      <ul class="nav-menu-items">
        <li class="nav-menu-item"><a href="packages/index.html">Packages</a></li>
        <li class="nav-menu-item"><a href="customers/index.html">Customers</a></li>
        <li class="nav-menu-item"><a href="contact.html">Contact</a></li>
        <li class="nav-menu-item"><a href="resources.html">Resources</a></li>
        <li class="nav-menu-item nav-menu-item--cta"><a href="https://www.google.com">Google</a></li>
      </ul>
    </nav>
  </header>

  <div id="div-title">
    <h1 class="title-text">learn-css works!</h1>
  </div>

  <div id="div-content">
    <h3 class="content-text">Content of CSS learning</h3>
  </div>

  <div disabled>
    <h3 class="content-text">Disabled content</h3>
  </div>

  <main>
    <section>
      <p>This is a paragraph</p>
    </section>
  </main>
</div>
